*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    background: #333333;
    color: #fff;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 80vw;
    align-items: center;
    /* overflow: auto; */
    /* padding: 0 20px; */
}


.logo{
    font-size: 1.65rem;
}

.logo:hover{
    color: #f7c08a;
}

.nav-links{
    display: flex;
    list-style: none;
}


.link {
    color: #fff;
    display: block;
    text-align: center;
    padding: 22px;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
}

.link:hover {
    color: #f7c08a;
    background-color: #515151;
}